<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			请输入你猜想的数字:{{shu}}
			<p v-if="shu>50">你输入的数字太大了</p>
			<p v-if="shu==50">恭喜你，答对了</p>
			<p v-if="shu<50">你输入的数字太小了</p>
			<input type="text" v-model="shu" />
		</div>
		
		<script src="js/vue.js" type="text/javascript" charset="UTF-8"></script>
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					shu:25
				}
			})
		</script>
	</body>
</html>
