<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="userNumber" />
			<div v-for="country in countries">
				<div v-if="userNumber==country.number">
					国家名：{{country.name}}<br>
					首都：{{country.capital}}<br>
					国家代号：{{country.number}}
				</div>
			</div>
		</div>
		
		<script src="vue.js" type="text/javascript" charset="UTF-8"></script>
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					userNumber:'',
					countries:[
						{name:'中国',capital:'北京',number:'86'},
						{name:'美国',capital:'华盛顿',number:'1'},
						{name:'英国',capital:'伦敦',number:'44'},
						{name:'日本',capital:'东京',number:'81'},
						{name:'韩国',capital:'首尔',number:'82'}
					]
				}
			})
		</script>
	</body>
</html>
